<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-skin-base sm:text-4xl"><span class="text-skin-accented">Boost your productivity.</span><br>Start a Rails app today.</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-skin-muted">Enjoy the Ruby language and the productivity that comes with it when building a Ruby on Rails web applications.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="https://railsenespanol.co" class="rounded-md bg-skin-accented px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-accented-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
        <a href="https://rubyonrails.org" class="text-sm font-semibold leading-6 text-skin-base">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</div>
